<launch>
	<!-- Set args -->
  	<arg name="num_of_robots" default="1"/>
	<arg name="data_stream_option" default="None"/>		<!-- Options for Sphero's data stream: None, All, Locator -->

	<!-- Config file with Sphero addresses -->
	<arg name="filename" default="$(find sphero_sprk_ros)/cfg/sphero_addresses.txt"/>

	<!-- Start Sphero driver nodes launcher. -->
	<node pkg="sphero_sprk_ros" type="drivers_launch.sh" name="drivers_launcher" args="$(arg num_of_robots) $(arg filename) $(arg data_stream_option)" output="screen"/>
</launch>
